In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import koreanize_matplotlib

In [9]:
crime = pd.read_csv("/Users/sangu/likelion_AIS/ais7/mid_project/mid_data/14~절도.csv")
crime.tail()

,자치구별(1),자치구별(2),2014,2014.1,2015,2015.1,2016,2016.1,2017,2017.1,2018,2018.1,2019,2019.1,2020,2020.1,2021,2021.1
24,합계,관악구,3029,784,2706,827,2103,937,1979,1152,2012,1025,2223,1085,2229,1137,1860,929
25,합계,서초구,2747,782,2635,1091,2205,1107,1812,835,1851,838,2270,1118,2021,960,1503,691
26,합계,강남구,3895,1193,3850,1650,3587,1918,3130,1383,3004,1317,2970,1339,2951,1491,2372,1160
27,합계,송파구,4199,885,3239,1129,2543,1048,2274,1026,2352,1034,2416,1016,2429,1006,2024,995
28,합계,강동구,2425,827,2366,789,1754,902,1645,949,1515,765,1650,907,1640,781,1612,8

In [8]:
cctv = pd.read_csv("/Users/sangu/likelion_AIS/ais7/mid_project/mid_data/서울시CCTV설치운영현황(자치구)_연도별_220630기준.csv", encoding = "cp949")
cctv.head()

,구분,총계,2013년 이전\n설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,"85,242","5,001","3,758","4,011","6,659","8,812","11,569","10,880","12,541","11,561","8,614","1,836"
1,종로구,"1,855",21,537,120,161,134,165,166,69,254,76,152
2,중 구,"2,447",130,87,77,236,240,372,386,155,361,403,0
3,용산구,"2,611",105,234,125,221,298,351,125,307,617,228,NaN
4,성동구,"3,922",321,211,111,327,255,973,415,491,472,283,63