In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/5대+범죄+발생현황_20221018203812.csv")
df.columns

Index(['자치구별(1)', '자치구별(2)', '2000', '2000.1', '2000.2', '2000.3', '2000.4',
       '2000.5', '2000.6', '2000.7',
       ...
       '2021.2', '2021.3', '2021.4', '2021.5', '2021.6', '2021.7', '2021.8',
       '2021.9', '2021.10', '2021.11'],
      dtype='object', length=266)

In [10]:
df

,자치구별(1),자치구별(2),2000,2000.1,2000.2,2000.3,2000.4,2000.5,2000.6,2000.7,...,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11
0,자치구별(1),자치구별(2),합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,자치구별(1),자치구별(2),소계,소계,살인,살인,강도,강도,강간·강제추행,강간·강제추행,...,살인,살인,강도,강도,강간·강제추행,강간·강제추행,절도,절도,폭력,폭력
2,자치구별(1),자치구별(2),발생,검거,발생,검거,발생,검거,발생,검거,...,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거
3,합계,소계,136051,106978,167,170,1399,1064,1522,1392,...,124,112,122,116,4911,4446,33531,17950,41757,35388
4,합계,종로구,-,-,-,-,-,-,-,-,...,6,3,4,4,156,757,1079,743,1467,1248
5,합계,중구,-,-,-,-,-,-,-,-,...,6,6,6,6,161,97,1279,739,1409,1224
6,합계,용산구,-,-,-,-,-,-,-,-,...,3,2,1,1,141,103,945,484,1291,1069
7,합계,성동구,-,-,-,-,-,-,-,-,...,3,4,4,1,110,82,905,497,1090,926
8,합계,광진구,-,-,-,-,-,-,-,-,...,5,3,4,4,208,161,1414,754,1456,1280
9,합계,동대문구,-,-,-,-,-,-,-,-,...,3,4,7,8,169,147,1240,659,1540,1295
10,합계,중랑구,-,-,-,-,-,-,-,-,...,4,4,6,7,141,117,1399,835,1660,1442
11,합계,성북구,-,-,-,-,-,-,-,-,...,4,3,2,2,118,88,895,474,1392,1220
12,합계,강북구,-,-,-,-,-,-,-,-,...,4,4,1,1,136,115,777,537,1383,1255
13,합계,도봉구,-,-,-,-,-,-,-,-,...,2,2,2,1,72,64,772,376,1012,851
14,합계,노원구,-,-,-,-,-,-,-,-,...,6,6,3,3,156,126,1361,654,1899,1513
15,합계,은평구,-,-,-,-,-,-,-,-,...,4,5,3,3,166,133,1424,825,1647,1457
16,합계,서대문구,-,-,-,-,-,-,-,-,...,3,3,2,2,137,120,1027,562,1109,907
17,합계,마포구,-,-,-,-,-,-,-,-,...,4,3,4,4,321,275,1510,730,1701,1367
18,합계,양천구,-,-,-,-,-,-,-,-,...,1,1,3,3,116,92,1349,700,1546,1289
19,합계,강서구,-,-,-,-,-,-,-,-,...,9,7,3,3,246,188,1540,921,2098,1925
20,합계,구로구,-,-,-,-,-,-,-,-,...,5,5,2,1,182,118,1390,770,1907,1537
21,합계,금천구,-,-,-,-,-,-,-,-,...,7,6,3,4,134,103,1013,520,1282,1108
22,합계,영등포구,-,-,-,-,-,-,-,-,...,8,8,11,11,279,196,1712,831,2169,1731
23,합계,동작구,-,-,-,-,-,-,-,-,...,2,3,1,1,180,94,1129,675,1319,1056
24,합계,관악구,-,-,-,-,-,-,-,-,...,8,4,7,6,321,269,1860,929,2248,1926
25,합계,서초구,-,-,-,-,-,-,-,-,...,9,9,5,5,312,228,1503,691,1827,1506
26,합계,강남구,-,-,-,-,-,-,-,-,...,12,11,25,23,578,454,2372,1160,3159,2749
27,합계,송파구,-,-,-,-,-,-,-,-,...,3,3,7,6,247,216,2024,995,2433,2046
28,합계,강동구,-,-,-,-,-,-,-,-,...,3,3,6,6,124,103,1612,889,1713,14

In [9]:
df.T.tail()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
2021.7,합계,강간·강제추행,검거,4446,757,97,103,82,161,147,...,188,118,103,196,94,269,228,454,216,103
2021.8,합계,절도,발생,33531,1079,1279,945,905,1414,1240,...,1540,1390,1013,1712,1129,1860,1503,2372,2024,1612
2021.9,합계,절도,검거,17950,743,739,484,497,754,659,...,921,770,520,831,675,929,691,1160,995,889
2021.10,합계,폭력,발생,41757,1467,1409,1291,1090,1456,1540,...,2098,1907,1282,2169,1319,2248,1827,3159,2433,1713
2021.11,합계,폭력,검거,35388,1248,1224,1069,926,1280,1295,...,1925,1537,1108,1731,1056,1926,1506,2749,2046,14

In [39]:
df_1 = pd.read_csv("/content/5대+범죄+발생현황_20221018203557.csv")
df_1.head(10)

,자치구별(1),자치구별(2),2021,2021.1,2021.2,2021.3,2021.4,2021.5,2021.6,2021.7,2021.8,2021.9,2021.10,2021.11
0,자치구별(1),자치구별(2),합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,자치구별(1),자치구별(2),소계,소계,살인,살인,강도,강도,강간·강제추행,강간·강제추행,절도,절도,폭력,폭력
2,자치구별(1),자치구별(2),발생,검거,발생,검거,발생,검거,발생,검거,발생,검거,발생,검거
3,합계,소계,80445,58012,124,112,122,116,4911,4446,33531,17950,41757,35388
4,합계,종로구,2712,2755,6,3,4,4,156,757,1079,743,1467,1248
5,합계,중구,2861,2072,6,6,6,6,161,97,1279,739,1409,1224
6,합계,용산구,2381,1659,3,2,1,1,141,103,945,484,1291,1069
7,합계,성동구,2112,1510,3,4,4,1,110,82,905,497,1090,926
8,합계,광진구,3087,2202,5,3,4,4,208,161,1414,754,1456,1280
9,합계,동대문구,2959,2113,3,4,7,8,169,147,1240,659,1540,1295

In [55]:
m_df = df_1[["자치구별(2)", "2021"]]
m_df

    자치구별(2)   2021
0   자치구별(2)     합계
1   자치구별(2)     소계
2   자치구별(2)     발생
3        소계  80445
4       종로구   2712
5        중구   2861
6       용산구   2381
7       성동구   2112
8       광진구   3087
9      동대문구   2959
10      중랑구   3210
11      성북구   2411
12      강북구   2301
13      도봉구   1860
14      노원구   3425
15      은평구   3244
16     서대문구   2278
17      마포구   3540
18      양천구   3015
19      강서구   3896
20      구로구   3486
21      금천구   2439
22     영등포구   4179
23      동작구   2631
24      관악구   4444
25      서초구   3656
26      강남구   6146
27      송파구   4714
28      강동구   3458

In [18]:
df_1.T.head(10)

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
자치구별(1),자치구별(1),자치구별(1),자치구별(1),합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
자치구별(2),자치구별(2),자치구별(2),자치구별(2),소계,종로구,중구,용산구,성동구,광진구,동대문구,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
2021,합계,소계,발생,80445,2712,2861,2381,2112,3087,2959,...,3896,3486,2439,4179,2631,4444,3656,6146,4714,3458
2021.1,합계,소계,검거,58012,2755,2072,1659,1510,2202,2113,...,3044,2431,1741,2777,1829,3134,2439,4397,3266,2462
2021.2,합계,살인,발생,124,6,6,3,3,5,3,...,9,5,7,8,2,8,9,12,3,3
2021.3,합계,살인,검거,112,3,6,2,4,3,4,...,7,5,6,8,3,4,9,11,3,3
2021.4,합계,강도,발생,122,4,6,1,4,4,7,...,3,2,3,11,1,7,5,25,7,6
2021.5,합계,강도,검거,116,4,6,1,1,4,8,...,3,1,4,11,1,6,5,23,6,6
2021.6,합계,강간·강제추행,발생,4911,156,161,141,110,208,169,...,246,182,134,279,180,321,312,578,247,124
2021.7,합계,강간·강제추행,검거,4446,757,97,103,82,161,147,...,188,118,103,196,94,269,228,454,216,103

In [44]:
df_cctv = pd.read_csv("/content/서울시CCTV설치운영현황(자치구)_연도별_220630기준 (1).csv", encoding = "cp949")
df_cctv = df_cctv.drop(columns = {"2013년 이전\n설치된 CCTV"})
df_cctv

,구분,총계,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,"85,242","3,758","4,011","6,659","8,812","11,569","10,880","12,541","11,561","8,614","1,836"
1,종로구,"1,855",537,120,161,134,165,166,69,254,76,152
2,중 구,"2,447",87,77,236,240,372,386,155,361,403,0
3,용산구,"2,611",234,125,221,298,351,125,307,617,228,NaN
4,성동구,"3,922",211,111,327,255,973,415,491,472,283,63
5,광진구,"3,214",85,177,95,40,666,460,712,190,739,4
6,동대문구,"2,631",14,16,115,804,814,201,218,223,219,3
7,중랑구,"3,918",253,88,149,178,174,215,1059,976,471,10
8,성북구,"4,611",170,229,322,594,811,867,714,253,407,107
9,강북구,"2,800",21,17,89,218,5,379,980,573,436,82
10,도봉구,"2,091",2,81,73,106,126,209,205,183,603,399
11,노원구,"2,492",164,77,514,331,175,216,320,387,221,0
12,은평구,"4,478",44,332,329,555,403,635,1057,288,471,347
13,서대문구,"3,271",144,144,121,254,524,389,344,596,207,222
14,마포구,"2,570",40,112,185,480,367,368,494,300,163,6
15,양천구,"3,650",158,134,246,424,577,837,312,346,371,NaN
16,강서구,"2,867",68,202,194,168,506,259,458,359,438,131
17,구로구,"4,608",349,187,268,326,540,488,434,415,533,0
18,금천구,"2,631",174,70,361,133,196,539,367,513,207,71
19,영등포구,"4,056",238,123,209,248,311,658,65,1213,283,0
20,동작구,"2,331",25,502,127,253,271,300,311,430,30,18
21,관악구,"5,342",264,304,557,616,681,674,890,404,538,0
22,서초구,"4,082",93,70,562,519,1059,431,359,433,365,0
23,강남구,"6,871",66,580,830,1293,988,745,791,926,516,0
24,송파구,"3,019",90,84,214,143,241,541,1073,235,144,156
25,강동구,"2,874",227,49,154,202,273,377,356,614,262,65

In [70]:
m_df = m_df.rename(columns = {"자치구별(2)": "구분"})
m_df

         구분   2021
0   자치구별(2)     합계
1   자치구별(2)     소계
2   자치구별(2)     발생
3        소계  80445
4       종로구   2712
5        중구   2861
6       용산구   2381
7       성동구   2112
8       광진구   3087
9      동대문구   2959
10      중랑구   3210
11      성북구   2411
12      강북구   2301
13      도봉구   1860
14      노원구   3425
15      은평구   3244
16     서대문구   2278
17      마포구   3540
18      양천구   3015
19      강서구   3896
20      구로구   3486
21      금천구   2439
22     영등포구   4179
23      동작구   2631
24      관악구   4444
25      서초구   3656
26      강남구   6146
27      송파구   4714
28      강동구   3458

In [53]:
m_cctv = df_cctv[["구분", "총계"]]
m_cctv

      구분      총계
0      계  85,242
1    종로구   1,855
2    중 구   2,447
3    용산구   2,611
4    성동구   3,922
5    광진구   3,214
6   동대문구   2,631
7    중랑구   3,918
8    성북구   4,611
9    강북구   2,800
10   도봉구   2,091
11   노원구   2,492
12   은평구   4,478
13  서대문구   3,271
14   마포구   2,570
15   양천구   3,650
16   강서구   2,867
17   구로구   4,608
18   금천구   2,631
19  영등포구   4,056
20   동작구   2,331
21   관악구   5,342
22   서초구   4,082
23   강남구   6,871
24   송파구   3,019
25   강동구   2,874

In [79]:
m_cctv["구분"][2] = "중구"
m_cctv

      구분 CCTV 개수
0      계  85,242
1    종로구   1,855
2     중구   2,447
3    용산구   2,611
4    성동구   3,922
5    광진구   3,214
6   동대문구   2,631
7    중랑구   3,918
8    성북구   4,611
9    강북구   2,800
10   도봉구   2,091
11   노원구   2,492
12   은평구   4,478
13  서대문구   3,271
14   마포구   2,570
15   양천구   3,650
16   강서구   2,867
17   구로구   4,608
18   금천구   2,631
19  영등포구   4,056
20   동작구   2,331
21   관악구   5,342
22   서초구   4,082
23   강남구   6,871
24   송파구   3,019
25   강동구   2,874

In [65]:
m_cctv = m_cctv.rename(columns = {"총계": "CCTV 개수"})
m_cctv

      구분 CCTV 개수
0      계  85,242
1    종로구   1,855
2    중 구   2,447
3    용산구   2,611
4    성동구   3,922
5    광진구   3,214
6   동대문구   2,631
7    중랑구   3,918
8    성북구   4,611
9    강북구   2,800
10   도봉구   2,091
11   노원구   2,492
12   은평구   4,478
13  서대문구   3,271
14   마포구   2,570
15   양천구   3,650
16   강서구   2,867
17   구로구   4,608
18   금천구   2,631
19  영등포구   4,056
20   동작구   2,331
21   관악구   5,342
22   서초구   4,082
23   강남구   6,871
24   송파구   3,019
25   강동구   2,874

In [80]:
merge_inner = pd.merge(m_df, m_cctv)
merge_inner

      구분  2021 CCTV 개수
0    종로구  2712   1,855
1     중구  2861   2,447
2    용산구  2381   2,611
3    성동구  2112   3,922
4    광진구  3087   3,214
5   동대문구  2959   2,631
6    중랑구  3210   3,918
7    성북구  2411   4,611
8    강북구  2301   2,800
9    도봉구  1860   2,091
10   노원구  3425   2,492
11   은평구  3244   4,478
12  서대문구  2278   3,271
13   마포구  3540   2,570
14   양천구  3015   3,650
15   강서구  3896   2,867
16   구로구  3486   4,608
17   금천구  2439   2,631
18  영등포구  4179   4,056
19   동작구  2631   2,331
20   관악구  4444   5,342
21   서초구  3656   4,082
22   강남구  6146   6,871
23   송파구  4714   3,019
24   강동구  3458   2,874